apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: <% .Env.CLUSTER_NODE_INSTANCE_ROLE %>
      username: system:node:{{EC2PrivateDNSName}}
      groups:
        - system:bootstrappers
        - system:nodes
    - roleARN: <% .Env.K8S_ADMIN_ROLE_ARN %>
      username: kubernetes-admin
      groups:
        - system:masters
   mapUsers: |
    - userarn: arn:aws:iam::1234567:user/simplego-temp-test
      username: jeffrey.cai
      groups:
        - system:masters